.style img{
    width: 60%;
    height: auto;
    margin-left: 18%;
    margin-right: 12%;
    margin-top: 5%;
}

.style button {
    text-decoration: none;
    color: #eb5e28;
    width: 220px;
    height: 45px;
    background-color: #403d39;
    margin-left: 665px;
    margin-top: 70px;
    font-size: 20px;
    border-radius: 20px;
    border: 0px solid;
    box-shadow: 3px 3px;
    cursor: pointer;
    transition: all 0.1s;
}

.style button:hover {
    background-color: #ccc5b9;
    box-shadow: none;
    color: #252422;
}